* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('https://source.unsplash.com/random') no-repeat center center / cover;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: aliceblue;
  font-size: 64px;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid transparent;
}

a:hover,
a:active {
  border-bottom: 1px solid black;
}

thead {
  background-color: #4caf50;
  font-size: 20px;
}

tr {
  background: #cccccc;
  cursor: pointer;
}

td:hover {
  background-color: #fff;
}

td {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}
